<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% if full_title(yield(:title)) == 'Dashboard | Ananda' || full_title(yield(:title)) == 'Data Panel | Ananda' || full_title(yield(:title)) == 'Habit Panel | Ananda' %> 
        <%= render 'layouts/dashboardfooter' %>
      <% end %> 
      <% if full_title(yield(:title)) == ('Data Panel | Ananda' ||  'Habit Panel | Ananda') %>
        <%= render 'layouts/dashboardfooter' %>
      <% end %> 
      <!--<%= debug(params) if Rails.env.development? %> -->
    </div>
  </body>
</html>